<mat-horizontal-stepper labelPosition="bottom"  [linear]="isLinear" #stepper>
    
  

  <mat-step   >
      <form >
        <ng-template matStepLabel>Address</ng-template>
        <h5>Choose a Default Address</h5>

        <div class="row row-col-4" >
              
                  <div class="col" style="margin-bottom: 10px;" >
                      <div class="card" style="width: 18rem;" *ngIf="isAddress2Removed"> 
                          <label class="btn btn-lg btn-default">
                          <div class="card-body  ">
                              <div class="row">
                          <input type="radio" name="selectedAddress" class="btn btn-secondary">
                            <h5 class="card-title"> Srikrishna Sasidharan</h5>
                              </div>
                            <h6 class="card-subtitle mb-2 text-muted">(+1) xxx-xxx-xxxxx</h6>
                            <p class="card-text">305-1342, South Park Street, Halifax, Nova Scotia, Canada B3J 2K9.</p>
                            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalScrollable" style="float: left;">Edit Address</button>
                            <button class="btn btn-outline-primary" (click)="RemoveClicked2()" style="float: right;">Remove</button>
                          </div>
                      </label>
                        </div>
                  </div>
                  <div class="col" style="margin-bottom: 10px;"  *ngIf="isAddress1Removed" >
                      <div class="card" style="width: 18rem;">
                          <label class="btn btn-lg btn-default">
                          <div class="card-body  " >
                              <div class="row">
                          <input type="radio" name="selectedAddress"  class="btn btn-secondary">
                            <h5 class="card-title"> Srikrishna Sasidharan</h5>
                              </div>
                            <h6 class="card-subtitle mb-2 text-muted">(+1) xxx-xxx-xxxxx</h6>
                            <p class="card-text">305-1342, South Park Street, Halifax, Nova Scotia, Canada B3J 2K9.</p>
                            <button   class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalScrollable" style="float: left;">Edit Address</button>
                            <button class="btn btn-outline-primary"  (click)="RemoveClicked1()"style="float: right;">Remove</button>
                          </div>
                      </label>
                        </div>
                  </div>
                  <div class="col center">
            
                    <button style="width: 18rem;height: 17rem;"  data-toggle="modal" data-target="#exampleModalScrollable">
                        <button   class="card-link"    mat-button   data-toggle="modal" data-target="#exampleModalScrollable">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;"> Add New Address</h5>
            
                        </div>
                      </button>
                </div>
  
        </div>  
        
      </form>
   </mat-step>
    <mat-step >
      <ng-template matStepLabel>Payment</ng-template>
      <h5>Choose a Default Payment Method</h5>
      
  <div class="row">
    <div class="col" id="vert">
      <div class="card">
        <h5 class="card-header">Select Payment Method</h5>

        <div class="card-body">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


            <ng-container matColumnDef="selected">
              <th mat-header-cell *matHeaderCellDef>
                Selected Element:<br /><b>{{ selectedElement?.name }}</b>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-radio-button [value]="element">
                </mat-radio-button>
              </td>
            </ng-container>



            <!-- cardEnding Column -->
            <ng-container matColumnDef="cardEnding">
              <th mat-header-cell *matHeaderCellDef> Your cards </th>

              <td mat-cell *matCellDef="let element">
                <mat-radio-button [value]="element">
                  {{element.cardEnding}}
                </mat-radio-button>

              </td>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name on card </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Valid Column -->
            <ng-container matColumnDef="valid">
              <th mat-header-cell *matHeaderCellDef> Valid till </th>
              <td mat-cell *matCellDef="let element"> {{element.valid}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;">

            </tr>


          </table>







        </div>

      </div>
    </div>
    
</div>
    <hr>
    <div class="row">
      <div class="col col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <div class="card">
          <h5 class="card-header">Add new card</h5>
          <div class="card-body">
  
            <form class="example-form">
  
  
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput placeholder="Credit/Debit Card" [formControl]="cardNumberControl" required>
                  <mat-icon matSuffix>credit_card</mat-icon>
                  <mat-error *ngIf="cardNumberControl.hasError('required')">Required</mat-error>
  
                </mat-form-field>
              </div>
              </div>
  
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput placeholder="Name on card" [formControl]="cardNameControl" required>
                  <mat-error *ngIf="cardNameControl.hasError('required')">Required</mat-error>
                </mat-form-field>
                </div>
              </div>
                <div class="row"  style="margin: 0;">
                  <div class="col-md-3"></div>
                
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Expiry Month</mat-label>
                      <mat-select [formControl]="expMonthControl" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let expMonth of expMonths" [value]="expMonth">
                          {{expMonth.month}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="expMonthControl.hasError('required')">Required</mat-error>
                      <!-- <mat-hint>{{expMonthControl.value?.monthVal}}</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Expiry Year</mat-label>
                      <mat-select [formControl]="expYearControl" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let expYear of expYears" [value]="expYear">
                          {{expYear.month}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="expYearControl.hasError('required')">Required</mat-error>
                      <!-- <mat-hint>{{expMonthControl.value?.monthVal}}</mat-hint> -->
                    </mat-form-field>
  
                  </div>
                </div>
  
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <mat-form-field appearance="outline" class="small-form-input" style="width: 100%;">
                  <input matInput placeholder="CVV" class="small-form-input" [formControl]="cvvControl" required>
                  <mat-error *ngIf="cvvControl.hasError('required')">Required</mat-error>
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                <button class="btn btn-dark" (click)="payWithNewCard()">Add card </button>
                </div>
              </div>
  
  
            </form>
          </div>
        </div>
      </div>
    </div>
      
    </mat-step> 
  </mat-horizontal-stepper>

  
  
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    
<form class="example-form">
 

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="First name">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name">
    </mat-form-field></td>
    
  </tr>
  <tr>
    <td><mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Contact">
      </mat-form-field></td>
  </tr>

</table>

  <p>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address 2"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="State">
    </mat-form-field></td>
    
  </tr>
<tr>
    <td><mat-form-field class="example-full-width">
        <input matInput #postalCode maxlength="5" placeholder="Postal Code" >
      </mat-form-field></td>
</tr>
</table>
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewAddressConfirm()">Save changes</button>
      </div>
    </div>
  </div>
</div>