<div class="container" style="margin-top: 10%;">

  <div class="row">
    <div class="col" id="vert">
      <div class="card">
        <h5 class="card-header">Select Payment Method</h5>

        <div class="card-body">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


            <ng-container matColumnDef="selected">
              <th mat-header-cell *matHeaderCellDef>
                Selected Element:<br /><b>{{ selectedElement?.name }}</b>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-radio-button [value]="element">
                </mat-radio-button>
              </td>
            </ng-container>



            <!-- cardEnding Column -->
            <ng-container matColumnDef="cardEnding">
              <th mat-header-cell *matHeaderCellDef> Your cards </th>

              <td mat-cell *matCellDef="let element" >
                <input type="radio" id="{{element.id}}" name="selectedPayment" [(ngModel)]="selectedPayment" class="btn btn-secondary" value={{element.id}}  >

                <!-- <mat-radio-button name="selectedPayment" [(ngModel)]="selectedPayment" value={{element}}  checked> -->
                <!-- [(ngModel)]="selectedPayment" formControlName="completed" [value]="element"> -->
                
                <label for="{{element.id}}"> {{element.cardEnding}} </label>
                <!-- </mat-radio-button> -->
              </td>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name on card </th>
              <td mat-cell *matCellDef="let element" > {{element.name}}  </td>
            </ng-container>

            <!-- Valid Column -->
            <ng-container matColumnDef="valid">
              <th mat-header-cell *matHeaderCellDef> Valid till </th>
              <td mat-cell *matCellDef="let element" >  {{element.valid}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;">

            </tr>


          </table>







        </div>

      </div>
    </div>
    <div class="col col-xl-4 col-lg-4 col-md-4">
      <h4 *ngIf="validateProceed" class="alert alert-danger">Please select a Payment method.</h4>

      <h5>Scheduled Delivery</h5>
      {{delivery}}

      <br>
      <br>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Price details</h5>
          <h6 class="card-subtitle mb-2 text-muted">Cart Total</h6>
          <p class="card-text">CAD ${{data}}</p>

          <h6 class="card-subtitle mb-2 text-muted">Security Deposit</h6>
          <p class="card-text">CAD ${{securityPrice}}</p>
          <button class="card-link" class="btn btn-dark" style="float:right;" (click)="placeOrder()">Place
            order</button>
        </div>
      </div>


    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col col-xl-9 col-lg-9 col-md-9 col-sm-12">
      <div class="card">
        <h5 class="card-header">Pay with new card</h5>
        <div class="card-body">

          <form class="example-form">


            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="Credit/Debit Card" [formControl]="cardNumberControl" type="tel" minlength="16"  maxlength="16" required pattern="\d+">
                <mat-icon matSuffix>credit_card</mat-icon>
                <mat-error *ngIf="cardNumberControl.hasError('required')">Required</mat-error>

              </mat-form-field>
            </div>
            </div>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
              <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="Name on card" [formControl]="cardNameControl" required>
                <mat-error *ngIf="cardNameControl.hasError('required')">Required</mat-error>
              </mat-form-field>
              </div>
            </div>
              <div class="row"  style="margin: 0;">
                <div class="col-md-3"></div>
              
                <div class="col-md-3">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Expiry Month</mat-label>
                    <mat-select [formControl]="expMonthControl" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let expMonth of expMonths" [value]="expMonth">
                        {{expMonth.month}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="expMonthControl.hasError('required')">Required</mat-error>
                    <!-- <mat-hint>{{expMonthControl.value?.monthVal}}</mat-hint> -->
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Expiry Year</mat-label>
                    <mat-select [formControl]="expYearControl" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let expYear of expYears" [value]="expYear">
                        {{expYear.month}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="expYearControl.hasError('required')">Required</mat-error>
                    <!-- <mat-hint>{{expMonthControl.value?.monthVal}}</mat-hint> -->
                  </mat-form-field>

                </div>
              </div>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
              <mat-form-field appearance="outline" class="small-form-input" style="width: 100%;">
                <input matInput placeholder="CVV" class="small-form-input" [formControl]="cvvControl" required type="tel" minlength="3" maxlength="4" pattern="\d+">
                <mat-error *ngIf="cvvControl.hasError('required')">Required</mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-3">
              <button class="btn btn-dark" (click)="payWithNewCard()">Pay Now </button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

</div>