<h6 mat-dialog-title>Please enter the address details</h6>
<div mat-dialog-content>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" [formControl]="fName" required>
            </mat-form-field>
            <div *ngIf="(checkValues)||(fName.invalid &&( fName.dirty || fName.touched))" class="alert alert-danger">
                <div *ngIf="fName.errors.required" style="font-size:x-small">

                    Please enter.</div>
            </div>

        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" [formControl]="lName" required>
            </mat-form-field>

            <div *ngIf="(checkValues)||(lName.invalid &&( lName.dirty || lName.touched))" class="alert alert-danger">

                <div *ngIf="lName.errors.required" style="font-size:x-small">

                    Please enter.</div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput type="tel" minlength="7" maxlength="10" placeholder="Phone" [formControl]="phone"
                    required pattern="\d+">
            </mat-form-field>
            <div *ngIf="(checkValues)||(phone.invalid &&( phone.dirty || phone.touched))" class="alert alert-danger">
                <div *ngIf="phone.errors.required" style="font-size:x-small">

                    Please enter.</div>
                    <div *ngIf="phone.errors.minlength" style="font-size:x-small">

                        Please enter 7 digits atleast
                    </div>
                </div>
            

        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" [formControl]="address1" required>
            </mat-form-field>
            <div *ngIf="(checkValues)||(address1.invalid &&( address1.dirty || address1.touched))"
                class="alert alert-danger">
                <div *ngIf="address1.errors.required" style="font-size:x-small">

                    Please enter.</div>
            </div>

        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Address line 2</mat-label>
                <input matInput placeholder="Address2" [formControl]="address2">

            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput placeholder="City" [formControl]="city" required>
            </mat-form-field>
            <div *ngIf="(checkValues)||(city.invalid &&( city.dirty || city.touched))" class="alert alert-danger">
                <div *ngIf="city.errors.required" style="font-size:x-small">

                    Please enter.</div>
            </div>

        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>State/Province</mat-label>
                <input matInput placeholder="state" minlength="2" maxlength="2" [formControl]="state" required>
            </mat-form-field>
            <div *ngIf="(checkValues)||(state.invalid &&( state.dirty || state.touched))" class="alert alert-danger">
                <div *ngIf="state.errors.required" style="font-size:x-small">

                    Please enter.
                </div>
                <div *ngIf="state.errors.minlength" style="font-size:x-small">

                    Please enter 2 Letters
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Postal code</mat-label>
                <input matInput placeholder="postal code" [formControl]="postcode" required>
            </mat-form-field>
            <div *ngIf="(checkValues)||(postcode.invalid &&( postcode.dirty || postcode.touched))"
                class="alert alert-danger">
                <div *ngIf="postcode.errors.required" style="font-size:x-small">

                    Please enter.</div>
            </div>

        </div>
        <div class="col"></div>

    </div>
</div>


<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">cancel</button>
    <button mat-button (click)="addNewAddress()" cdkFocusInitial>Save Address</button>
</div>