<div class="container" style="margin-top: 10%;">
  <h5>Select Delivery Address</h5>

  <div class="row">
    <div class="col" id="vert">
      <form>
      <div class="row">
        <div class="col" *ngFor="let addr of addresses" style="margin-bottom: 10px;">
          <div class="card" style="width: 18rem;" >
            <label class="btn btn-lg btn-default">
              <div class="card-body">
                <div class="row">
                  <input type="radio" name="selectedAddress" [(ngModel)]="selectedAddress" class="btn btn-secondary" value={{addr.addressId}}  checked>
                  <h5 class="card-title"> {{addr.firstname}} {{addr.lastname}}</h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">(+1) {{addr.phone}}</h6>
                <p class="card-text">{{addr.addressLine1}}, {{addr.city}}, {{addr.state}}, Postal code {{addr.postcode}}.</p>
                <button class="btn btn-outline-primary" (click)="openDialog(addr.addressId)"
                  style="float: left;">Edit Address</button>
                <button class="btn btn-outline-primary" (click)="RemoveClicked(addr.uid,addr.addressId)" style="float: right;">Remove</button>
              </div>
            </label>
          </div>
        </div>

      </div>
    </form>
    </div>

    <div class="col col-xl-3 col-lg-3 col-md-3" *ngIf="!checkAddressVal">
      <h4 *ngIf="validateProceed" class="alert alert-danger">Please select a delivery address.</h4>
      <h5>Scheduled Delivery</h5>
      <p style="color: darkgreen;" *ngFor="let e of del">{{e}}</p>

      <br>
      <br>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Price details</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card Total</h6>
          <p class="card-text">CAD ${{data}}</p>
          <button class="card-link" class="btn btn-dark" style="float:right;"
           (click)="proceedPayment()" >Continue</button>
        </div>
      </div>


    </div>
    <div class="col col-xl-3 col-lg-3 col-md-3" *ngIf="checkAddressVal">
      <div class="card-body">
        <h5 class="card-title">Please add a delivery address.</h5>
      </div>
  </div>
  </div>
  <hr>
  <div class="row">
    <h5> </h5>
    <div class="col center">

      <button style="width: 18rem;height: 17rem;" (click)="openDialog(0)">
        <button class="card-link" mat-button>
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"> Add New Address</h5>

        </div>
      </button>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="example-form form-group">


          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput class="form-control" placeholder="First name" id="firstName" [(ngModel)]="firstName"
                    name="firstName" #firstN="ngModel" required>

                </mat-form-field>
                <div *ngIf="emailTest || (firstN.invalid && (firstN.dirty || firstN.touched))"
                  class="alert alert-danger">
                  <div *ngIf="firstN.errors.required">
                    First Name cannot be empty</div>
                </div>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" class="form-control" id="lastName" [(ngModel)]="lasstName"
                    name="lasstName" #lastN="ngModel" required>

                </mat-form-field>
                <div *ngIf="emailTest || (lastN.invalid && (lastN.dirty || lastN.touched))" class="alert alert-danger">
                  <div *ngIf="lastN.errors.required">
                    Last Name cannot be empty</div>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input type="number" matInput placeholder="Contact" class="form-control" id="contact"
                    [(ngModel)]="contact" name="contact" #contactN="ngModel" required>
                    
                </mat-form-field>
                <div *ngIf="emailTest || (contactN.invalid && (contactN.dirty || contactN.touched))"
                  class="alert alert-danger">
                  <div *ngIf="contactN.errors.required">
                    Contact number cannot be empty</div>
                </div>
              </td>
            </tr>

          </table>

            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address" class="form-control" id="address" [(ngModel)]="address"
                name="address" #address1="ngModel" required></textarea>
            </mat-form-field>
            <div *ngIf="emailTest || (address1.invalid && (address1.dirty || address1.touched))"
              class="alert alert-danger">
              <div *ngIf="address1.errors.required">
                Address line 1 cannot be empty</div>
            </div>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address 2"></textarea>
            </mat-form-field>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="City" class="form-control" id="city" [(ngModel)]="city" name="city"
                    #cityN="ngModel" required>
                </mat-form-field>
                <div *ngIf="emailTest || (cityN.invalid && (cityN.dirty || cityN.touched))" class="alert alert-danger">
                  <div *ngIf="cityN.errors.required">
                    city cannot be empty</div>
                </div>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="State/Province" class="form-control" id="state" [(ngModel)]="state" name="state"
                    #stateN="ngModel" required>
                </mat-form-field>
                <div *ngIf="emailTest || (stateN.invalid && (stateN.dirty || stateN.touched))"
                  class="alert alert-danger">
                  <div *ngIf="stateN.errors.required">
                    state cannot be empty</div>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput #postalCode maxlength="5" placeholder="Postal Code" class="form-control" id="pcode"
                    [(ngModel)]="pcode" name="pcode" #pcodeN="ngModel" required>
                </mat-form-field>
                <div *ngIf="emailTest || (pcodeN.invalid && (pcodeN.dirty || pcodeN.touched))"
                  class="alert alert-danger">
                  <div *ngIf="pcodeN.errors.required">
                    postal code cannot be empty</div>
                </div>
              </td>
            </tr>
          </table>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewAddressConfirm()">Save changes</button>
      </div>
    </div>
  </div>
</div>