<app-user-navigation-bar></app-user-navigation-bar>
<router-outlet></router-outlet>
    <!-- <mat-progress-spinner color="primary" diameter="50" style="margin:0 auto;"  mode="indeterminate" *ngIf=" async">
    </mat-progress-spinner> -->
