<!--Image name="61aOa+4v4IL._AC_SX466_.jpg" Source="https://img.fruugo.com/product/3/46/92436463_max.jpg"-->
<div class="container-fluid productpage">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="card">
          <div id="laptopCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#laptopCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#laptopCarousel" data-slide-to="1"></li>
              <li data-target="#laptopCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{productImg}}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{productImg}}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{productImg}}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#laptopCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#laptopCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="row ml-auto">
          <h5>{{Company}} {{Product}}</h5>
        </div>
        <div class="row ml-auto star-rating">
          <div class="col-md-8 col-sm-12">
            <!--harcoded icons-->
            <span *ngFor="let bp of checkedStars" class="fa fa-star checked"></span>
            <span *ngFor="let sp of unCheckedStars" class="fa fa-star"></span>
            <!-- <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> -->
            <a  [routerLink]="" queryParamsHandling="preserve" (click)="onClick('viewRatings')" class="link viewRatings">View ratings</a>
          </div>

        </div>
        <div class="row ml-auto">
          <label>
            <h6>Screen size:</h6>
          </label>
        </div>
        <div class="row justify-content-start">
          <label class="radio-inline col-md-3 col-sm-3"><button mat-stroked-button>{{Inches}} Inch</button></label>
        </div>
        <div class="row ml-auto">
          <label>
            <h6>Processor type:</h6>
          </label>
        </div>
        <div class="row justify-content-start">
          <label class="radio-inline col-md-3 col-sm-3"><button mat-stroked-button>{{Cpu}}</button></label>
        </div>
      </div>
  
      <div class="col-md-5 col-sm-12">
        <div class="row justify-content-md-around">
          <h5 style="color: rgb(112, 22, 10);">CDN {{perDay}}/per day</h5>
        </div>
        <div class="row justify-content-md-around">
          <h5>In Stock!!</h5>
        </div>
        <form>
          <div class="row justify-content-md-around">
            <div class="">
              <mat-form-field style="width: 100%;">
                <input matInput [min]="startDateMin" id="startdate" [(ngModel)]="startDateModel" name="startdate"
                  #startdate="ngModel" [matDatepicker]="picker" (dateChange)="addStartEvent('change', $event)" placeholder="From date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="startDateMin"></mat-datepicker>
              </mat-form-field>
              <div
                *ngIf="(startDateError && startdate.invalid)||(startdate.invalid &&( startdate.dirty || startdate.touched)) || (compareDateError)"
                class="alert alert-danger">
                <div *ngIf="compareDateError" style="font-size:x-small">
                  From date should be smaller
                </div>
                <div *ngIf="startdate.errors && startdate.errors.required" style="font-size:x-small">
                  From Date required
                </div>

                
              </div>
            </div>
          </div>
          <div class="row justify-content-md-around">
            <div class="">
              <mat-form-field style="width: 100%;">
                <input matInput [min]="endDateMin" id="enddate" [(ngModel)]="endDateModel" name="enddate"
                  #enddate="ngModel" [matDatepicker]="picker2" (dateChange)="addEndEvent('change', $event)" placeholder="To date" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="endDateMin"></mat-datepicker>
              </mat-form-field>
              <div *ngIf="(endDateError && enddate.invalid)||(enddate.invalid &&( enddate.dirty || enddate.touched))"
                class="alert alert-danger">
                <div *ngIf="enddate.errors && enddate.errors.required" style="font-size:x-small">
                  To Date required
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-around">
            <div class="">
             
              <mat-form-field>
                <mat-label>Software (Optional)</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-md-around">
            <div class="">
              <mat-form-field style="width: 100%;" >
                <mat-label>Quantity</mat-label>
                <mat-select [formControl]="quantities" id="quantity" required>
                  <mat-option *ngFor="let quantity of quantityList" [value]="quantity">{{quantity}}
                  </mat-option>
              </mat-select>
                <!-- <mat-select id="quantity" [(ngModel)]="quantityModel" name="quantity" #quantity="ngModel" required>
                  <mat-option value="option1">1</mat-option>
                  <mat-option value="option2">2</mat-option>
                  <mat-option value="option3">3</mat-option>
                </mat-select> -->
              </mat-form-field>
              <!--  -->
              <div *ngIf="(cartError)||(quantities.invalid &&( quantities.dirty || quantities.touched))"
                class="alert alert-danger">
                <div *ngIf="quantities.errors && quantities.errors.required" style="font-size:x-small">
                  Quantity required
                </div>
  
              </div>
            </div>
          </div>
          <div class="row justify-content-md-around checkButton">
            <button type="submit" class="btn btn-primary" style="width: 50%" (click)="addToCart()">Add to Cart</button>
          </div>
        </form>
        
      </div>
    </div>
    <!--Below data are obtained from Amazon technical details section-->
    <!--https://www.amazon.ca/Apple-MR932LL-MacBook-Laptop-Storage/dp/B07FK9H65N/ref=sr_1_4?keywords=macbook+pro&qid=1580596388&sr=8-4-->
    <div class="row technicalDetails">
      <div class="col-md-5 col-sm-6">
        <h5 primary>Technical details</h5>
        <hr />
        <div class="divider"></div>
        <table class="table table-striped table-bordered table-sm">
          <tbody>
            <tr>
              <td class="label">Display Size</td>
              <td class="value">{{Inches}} Inch</td>
            </tr>
            <tr>
              <td class="label">Max Screen Resolution</td>
              <td class="value">{{ScreenResolution}}</td>
            </tr>
            <tr>
              <td class="label">Processor</td>
              <td class="value">{{Cpu}}</td>
            </tr>
            <tr>
              <td class="label">RAM</td>
              <td class="value">{{Ram}}</td>
            </tr>
            <tr>
              <td class="label">Hard Drive</td>
              <td class="value">{{Memory}} </td>
            </tr>
            <tr>
              <td class="label">Graphics Coprocessor</td>
              <td class="value">{{Gpu}}</td>
            </tr>
            <tr>
              <td class="label">Operating System</td>
              <td class="value">{{OpSys}}</td>
            </tr>
            <tr>
              <td class="label">Weight</td>
              <td class="value">{{Weight}}</td>
            </tr>
            <tr>
              <td class="label">Brand Name</td>
              <td class="value">{{Company}}</td>
            </tr>
            <tr>
              <td class="label">Series</td>
              <td class="value">{{Product}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- Button trigger modal -->
        <div class="row">
          <div class="col-md-12">
            <h5 primary>Customer Reviews</h5>
            <hr />
          </div>
        </div>
        <a class="link" [routerLink]="" queryParamsHandling="preserve" (click)="openDialog()" style="cursor: pointer;">
          Write a review>>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="reviewForm" tabindex="-1" role="dialog" aria-labelledby="reviewFormTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Review productpage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label> Rate the product: </label>
  
                    <!--Below component obtained from Biophoton Github repository-->
                    <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                      (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
                  </div>
                  <div class="form-group">
                    <label for="reviewTextArea">Write review</label>
                    <textarea class="form-control" id="reviewTextArea" rows="3"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" id="viewRatings">
        <div *ngFor="let bp of showReviews" class="card w-80 userReview">
          <div  class="card-body ">
            <h5 class="card-title">{{bp.userName}} Says:</h5>
            
            <label> User Rating: </label>
            

            <span *ngFor="let i of Arr(bp.star).fill(1)" class="fa fa-star checked"></span>
            <span *ngFor="let i of Arr(bp.unchecked).fill(1)" class="fa fa-star"></span>
            
            <p class="card-text">{{bp.review}}</p>
            <!-- <button type="button" class="btn btn-primary mr-auto">
              Useful <span class="badge badge-light">{{bp.useful}}</span>
              <span class="sr-only">unread messages</span>
            </button> -->
          </div>
        </div>
        <a (click)="hideRev()"id="myReviews" style="cursor: pointer;" *ngIf="checkH && !extra">View all reviews>></a>
        <div *ngIf="extra">
        <div *ngFor="let sp of hideReviews" class="card w-80 userReview" name="myDIV">
          <div  class="card-body ">
            <h5 class="card-title">{{sp.userName}} Says:</h5>
            <label> User Rating: </label>
            <span *ngFor="let i of Arr(sp.star).fill(1)" class="fa fa-star checked"></span>
            <span *ngFor="let i of Arr(sp.unchecked).fill(1)" class="fa fa-star"></span>
            <p class="card-text">{{sp.review}}</p>
            <!-- <button type="button" class="btn btn-primary mr-auto">
              Useful <span class="badge badge-light">{{sp.useful}}</span>
              <span class="sr-only">unread messages</span>
            </button> -->
          </div>
        </div>
        </div>
          
      </div>
    </div>
  </div>